<%- include('block/header') %>
<h3>Channel name: <%= channel.name %></h3>
<h3>About: <%= channel.description %></h3>
<h4>Posts:</h4>
<div class="card">
    <ul class="card-body">
        <% channel.posts.forEach( post => { %>
            <h6 class="card-text"><%= post.by + ': ' %></h6>
            <p><%= post.content %></p>
            <p><small><%= post.date %></small></p>
            <hr>
        <% }) %>
    </ul>
</div>


<form id="form" method="POST" action="/channel/<%= channel._id %>"><br>
    <textarea name="content" cols="30" rows="7" placeholder="Post" id="content" autocomplete="off" required></textarea><br>
    <input type="submit" value="Post" id="submit">
</form>
<%- include('block/footer') %>
<script src="/public/scripts/script.js"></script>